.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  justify-content: flex-start;
}

.embla__container:nth-child(1){
  margin-left: -65vw;
}

@media(max-width: 1600px){
  .embla__container:nth-child(1){
    margin-left: -60vw;
  }
}

@media(max-width: 1200px){
  .embla__container:nth-child(1){
    margin-left: -55vw;
  }
}

@media(max-width: 800px){
  .embla__container:nth-child(1){
    margin-left: -45vw;
  }
}

@media(max-width: 600px){
  .embla__container:nth-child(1){
    margin-left: -30vw;
  }
}

@media(max-width: 400px){
  .embla__container:nth-child(1){
    margin-left: -20vw;
  }
}