html,
body {
	padding: 0;
	margin: 0;
	background: #f8f8f8;
}
html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.bodyContainer {
	width: 80%;
	margin-left: 10%;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex;
		flex-direction: column;
  min-height: 100vh;
  }
}