.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 36px;
    margin-bottom: 14px;
  }
  
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 221, 221);
    border-radius: 36px;
    color: black;
    transition: 0.4s;
    height: 40px;
    z-index: 1;
  }
  
  .texts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    z-index: 99999999999;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 34px;
    width: 50%;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 36px;
  }
  
  
  input:checked + .slider{
    background-color: rgb(221, 221, 221);
  }
  
  input:checked + .slider:before{
    transform: translateX(96%);
  }
  
  .pcomprar{
    cursor: pointer;
    text-align: center;
    width: 50%;
    transition: .3s;
  }
  .pcomprar:hover{
    color: #476ADE;
    
  }
  .pvender{
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: .3s;
  }
  .pvender:hover{
    color: #476ADE;
  }
  .pcompraractive{
    color:#476ADE;
    width: 50%;
    text-align: center;
    z-index: 9;
  }
  
  .pvenderactive{
    color:#476ADE;
    width: 50%;
    text-align: center;
    z-index: 9;
  }
  